<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Chia_Cloud_Mining_AutoPayment_V2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Chia_Cloud_Mining_AutoPayment_V2.Properties.Settings>
            <setting name="Chia_Price_txt" serializeAs="String">
                <value />
            </setting>
            <setting name="Pyton_exe" serializeAs="String">
                <value />
            </setting>
            <setting name="Chia_Price_api" serializeAs="String">
                <value />
            </setting>
            <setting name="Cmd" serializeAs="String">
                <value />
            </setting>
            <setting name="Plot_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Cartella_database" serializeAs="String">
                <value />
            </setting>
            <setting name="Cartella_api" serializeAs="String">
                <value />
            </setting>
            <setting name="Cartella_cmd" serializeAs="String">
                <value />
            </setting>
            <setting name="Salvato" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Wallet" serializeAs="String">
                <value />
            </setting>
            <setting name="Mail_code" serializeAs="String">
                <value />
            </setting>
        </Chia_Cloud_Mining_AutoPayment_V2.Properties.Settings>
    </userSettings>
</configuration>